# Build and tests
/.eggs/
/bin/
/build*
/project/
/quasardb.egg-info/
/x64/
/test-reports/

# Where you must unzip qdb_api
/qdb
/qdb32
/qdb64

# Editors
/.vscode/
*.exe

# Python
*.pyc

# Database directory
/db