
# Numpy / Pandas are difficult to build in various environments (especially
# FreeBSD), and there are some conflicting requirements. For example, Numpy
# doesn't have any version that works on both Python 3.6 and Python 3.10.

numpy == 1.19.5; python_version <= '3.9'
pandas >= 1.0.0; python_version <= '3.9'
numpy == 1.23.4; python_version > '3.9'
pandas == 1.5.1; python_version > '3.9'

wheel == 0.37.0; python_version <= '3.6'
wheel == 0.38.2; python_version > '3.6'

pytest == 7.2.0; python_version > '3.6'
pytest == 6.2.5; python_version <= '3.6'
pytest-runner == 6.0.0; python_version > '3.6'
pytest-runner == 5.3.1; python_version <= '3.6'
pytest-benchmark == 4.0.0; python_version > '3.6'
pytest-benchmark == 3.4.1; python_version <= '3.6'

## Any environment

# XXX(leon): Later versions of pdoc3 are incompatible with our doc process!
pdoc3 == 0.7.5
teamcity-messages == 1.29
setuptools-git == 1.2

# Add arrow library
pyarrow == 8